.header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    border-radius: 16px;
  }
  
  .header-left {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .logo {
    height:50px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .header-right {
    display: flex;
    gap: 16px;
  }
  
  .auth-button {
    background-color: #43b02a;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-button:hover {
    background-color: #15803d;
  }