.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #333;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.Logo {
  align-items: left;
  height: 50px;
}

.header-right {
  display: flex;
  gap: 16px;
  margin-left: auto; /* This pushes the header-right to the right */
}

.auth-button {
  background-color: #43b02a;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Ensure the text is not underlined */
}

.auth-button:hover {
  background-color: #15803d;
}